{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/about_me.jpg') ">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-8 col-md-10 mx-auto">-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


    <!-- About Start -->
    <div class="container-fluid mb-5 py-5 admission_section">
        <div class="row align-items-center">

            <div class="col-lg-6 py-5 py-lg-0 px-3 px-lg-5">
                <h5 class="text-primary mb-3">About Me</h5>
                <h1 class="mb-4">20 Years Experience</h1>
                <p>Labore vero lorem eos sed aliquy ipsum aliquy sed. Vero dolore dolore takima ipsum lorem rebum</p>
                <div class="row py-2">
                    <div class="col-sm-6">
                        <i class="flaticon-approved display-3 text-primary"></i>
                        <h5 class="mt-2">Clients</h5>
                        <p>Ipsum sanctu dolor ipsum dolore sit et kasd duo</p>
                    </div>
                    <div class="col-sm-6">
                        <i class="flaticon-medal display-3 text-primary"></i>
                        <h5 class="mt-2">Certificates</h5>
<!--                            <div class="aws-cert">-->
<!--                                <img src="static/img/aws-certified-solutions-architect-associate.png" alt="">-->
<!--                            </div>-->
                                <p>AWS Certified Solutions Architect - Associate</p>

                    </div>
                </div>
                <a href="" class="btn btn-lg px-4 btn-primary">Learn More</a>
            </div>
            <div class="col-md-6">
                <div class="admission_img-container">
                  <img src="static/img/determine.png" alt="">
<!--                    <div class="col-lg-6 px-0">-->
<!--                        <img width="100%" class="img-fluid" src="static/img/determine.png" alt="Image">-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
  <hr>

  {% include "footer.html" %}